@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-8">
        
        <p>
            Copyright law primarily protects the expression of ideas rather than the ideas themselves. However, if a work contains personal information about individuals, there may be privacy laws or considerations that apply in addition to copyright. It's important to handle personal information responsibly and in compliance with relevant privacy regulations. Websites and platforms that host copyrighted content often have terms of use and privacy policies that govern how user data is collected, stored, and used. Users should review these policies to understand how their privacy is protected and what rights they retain over their own content.Copyright law includes provisions for "fair use," which allows for limited use of copyrighted material without permission from the copyright owner under certain circumstances, such as for commentary, criticism, news reporting, teaching, scholarship, or research. Fair use is a balancing act between the rights of the copyright holder and the public interest in the free exchange of information and ideas.
        </p>
    </div>

    <div class="col-sm-4">
        <img src="~/myschool.webp" />
    </div>
</div>
